<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vtpsales"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ArInvoiceView"
            android:exported="false" />
        <activity
            android:name=".AllMapScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_Address"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PdfViewerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Qr_Screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SampleUI"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportsListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportsDetListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LeadGenerationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyTeamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BirthdayAndAnniActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendenceListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustAttendenceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendenceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendenceDashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendenceHomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MapScreen" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>